:root {
    --background-color: rgb(18, 18, 52);
    --primary-text: rgb(231, 217, 217);
    --fun-color: aquamarine; 
  
  
  }
  
  * {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
    background-color: var(--background-color);
    color: var(--primary-text);
    text-align: center;
  }
  

  textarea {
    width: 50%;
    height: 50px;
    border: 3px solid var(--fun-color);
    background-color: azure;
    color: var(--background-color);
  }